:root {
  --color-bg: rgba(252, 238, 255, 1);
  --color-box-bg: #fff;
  --color-heading: rgba(48, 21, 52, 1);
  --color-txt: rgba(139, 105, 144, 1);
}

/* Typography */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-heading);
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-heading);
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-txt);
}

/* Layout */
header img {
  inline-size: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
}

:where(h1, h2, p) {
  margin-block: 0;
}

main {
  padding-inline: 1.5rem;
  padding-block-end: 9rem;
}

.faq {
  background-color: var(--color-box-bg);
  max-inline-size: 37.5rem;
  margin-inline: auto;
  margin-block: -100px 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 32px 56px 0 rgba(80, 0, 118, 0.1);
}

.title {
  display: flex;
  gap: 26px;
  margin-block-end: 1.5rem;
}

.title img {
  max-inline-size: 21px;
}

.question {
  display: flex;
  gap: 24px;
  margin-block-end: 1.5rem;
}

.question img {
  max-inline-size: 25px;
  margin-left: auto;
}

hr {
  margin-block: 1.25rem;
  border: none;
  height: 1px;
  background-color: rgba(252, 238, 255, 1);
}
